<p id="notice"><%= notice %></p>

<h1>Listing Patients</h1>

<table>
  <thead>
    <tr>
      <th>SSN</th>
      <th>Name</th>
      <th>Date of birth</th>
      <th>Gender</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @patients.each do |patient| %>
      <tr>
        <td><%= patient.ssn %></td>
        <td><%= patient.name %></td>
        <td><%= patient.date_of_birth %></td>
        <td><%= patient.gender %></td>
        <td><%= link_to 'Show', patient %></td>
      </tr>
    <% end %>
  </tbody>
</table>
