<p id="notice"><%= notice %></p>

<div class="row patient-header">
    <h1><%= @patient.name %>
    <small>#<%= @patient.ssn %></h1>
</div>

<div class="row">
  <strong>Date of birth:</strong>
  <%= @patient.date_of_birth %>

  <br />

  <strong>Gender:</strong>
  <%= @patient.gender %>
</div>

<table>
  <% @reports.each do |report| %>
    <tr>
      <td>Date</td>
      <td><%= report.date %></td>
    </tr>
    <tr>
      <td>Report</td>
      <td><%= report.name %></td>
    </tr>
    <tr>
      <td>Physician</td>
      <td><%= report.physician %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>
