<p id="notice"><%= notice %></p>

<div class="row patient-header">
    <h1><%= @patient.name %>
    <small>#<%= @patient.ssn %></h1>
</div>

<div class="row">
  <strong>Date of birth:</strong>
  <%= @patient.date_of_birth %>

  <br />

  <strong>Gender:</strong>
  <%= @patient.gender %>
</div>

<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>
